<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
	<uses-permission android:name="android.permission.WRITE_SETTINGS" />
	<uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
	<application
		android:label="Priority Ring"
		android:icon="@mipmap/ic_launcher">
		<service
			android:name=".PriorityRingTileService"			
			android:permission="android.permission.BIND_QUICK_SETTINGS_TILE"
			android:icon="@drawable/ic_priority_ring_tile_normal"
			android:exported="true">
			<intent-filter>
				<action android:name="android.service.quicksettings.action.QS_TILE" />
			</intent-filter>
		</service>
	</application>
</manifest>
